force-app/main/default/flows/Event_Attendee_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Last_Event_Date_Grater_Than_End_Date</name>
        <label>Current Last Event</label>
        <locationX>382</locationX>
        <locationY>457</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_Event_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Attendee__r.Last_Event_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Event__r.End_DateTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Event_Date</targetReference>
            </connector>
            <label>Last Event Date</label>
        </rules>
    </decisions>
    <description>record-triggered flow on Event Attendee which calculates Last Event Date: after the Event Attendee record gets created, Last Event Date on related Attendee record should be populated with the value of Event End Date/Time if it&apos;s greater than current Last Event Date. The flow should also set the status to Active if the Attendee is New or Inactive.</description>
    <interviewLabel>Event Attendee  Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Attendee  Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Last_Event_Date</name>
        <label>Update Last Event Date And Attende Status</label>
        <locationX>588</locationX>
        <locationY>548</locationY>
        <inputAssignments>
            <field>Last_Event_Date__c</field>
            <value>
                <elementReference>$Record.Event__r.End_DateTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Attendee__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>107</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Last_Event_Date_Grater_Than_End_Date</targetReference>
        </connector>
        <object>Event_Attendee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
